<div id="<%= dom_id user_event_preference %>">
  <p>
    <strong>User:</strong>
    <%= user_event_preference.user_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= user_event_preference.tag_id %>
  </p>

</div>
