<div class="container container-tag text-center">
  <p style="color: green"><%= notice %></p>

  <h1>Preferences</h1>

  <div id="user_event_preferences" class="tag">
    <%= render "form" %>
    
    <%# <% current_user.preferences.each do |user_event_preference| %>
      <%# <%= render user_event_preference %>
    <%# <% end %> 
  </div>
</div>