<p style="color: green"><%= notice %></p>

<h1>User event preferences</h1>

<div id="user_event_preferences">
  <% @user_event_preferences.each do |user_event_preference| %>
    <%= render user_event_preference %>
    <p>
      <%= link_to "Show this user event preference", user_event_preference %>
    </p>
  <% end %>
</div>

<%= link_to "New user event preference", new_user_event_preference_path %>
