<div class="dropdown m-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tags
  </button>
  <div class="dropdown-menu" data-bs-toggle="dropdown" aria-labelledby="dropdownMenuButton">
    <% Tag.all.each do |tag| %>  
      <a class="dropdown-item rounded-2" href="/show_one_tag/<%= tag.id %>"><%= tag.label %></a>
    <% end %>  
  </div>
</div>

