<%= link_to "Add new event", new_event_path, class: "btn bg-logo text-white" %>

<ul class="d-flex nav m-5">
  <li class="d-flex btn btn-secondary border border-secondary rounded  m-2 align-items-center"><a class="filters text-white" href="/show_events"> All events</a></li>
  <li class="d-flex btn btn-secondary border border-secondary rounded  m-2 align-items-center"><a class="filters text-white" href="/show_subscriptions">Subcriptions</a></li>
  <li class="d-flex btn btn-secondary border border-secondary rounded  m-2 align-items-center"><a class="filters text-white" href="/show_availables">Events availables</a></li>
</ul>