<div class="nav-home bg-secondary text-center text-white w-25 p-4" style="height:100%; position:fixed; top:105px;">
    <ul>
      <li class="btn btn-secondary nav-link border m-1 "><a class="text-white" href="/show_events">Events</a></li>
      <li class="btn btn-secondary nav-link border m-1 rounded"><a class="text-white" href="/show_users">Users</a></li>
    </ul>
</div>
