<div class="body d-flex">
  <% if user_session %>
    <%= render "sidebar" %>
  <% else %>
    <div class="d-flex flex-column w-100 align-items-center">

      <%= image_tag "FunWith.png", width: 480, height: 480 %>
      <h3>Subscribe if you want to enjoy interesting and fun events near you!</h3>
      <li class="nav-link"><a class="btn bg-logo text-white" href="/users/sign_up">Sign up</a></li>
    
    </div>
  <% end %>
  
</div>