<div class="nav-events">
  <div class="nav-tag">
  <% Tag.all.each do |tag| %>
    <li class="index-tag">
      <a class="tag-label" href="/events?search[tag_ids]=<%= tag.id %>">
        <%= image_tag tag.image, width: "25" %>
        <%= tag.label %>
      </a>
    </li>
  <% end %>
  </div>
</div>

