<%= render @event %>

<div class="d-flex flex-column align-items-center">
  <div class="m-2">
  <% if current_user.id == @event.organizer_id  || current_user.admin? %>
    <%= link_to "Edit this event", edit_event_path(@event), class: "txt" %> |
  <% end %>
    <%= link_to "Back to events", "/show_events", class: "txt" %>
  </div>
  <% if current_user.id == @event.organizer_id || current_user.admin? %>
    <%= button_to "Destroy this event", @event, method: :delete, class: "btn bg-logo text-white mb-5" %>
  <% end %>
</div>
