<div class="text-center">

  <h1>Edit tag</h1>
  <%= render "form", tag: admin_tags_path(@tag) %>

  <br>

  <div>
    <%= link_to "Show this tag", admin_tags_path(@tag), class: "link" %> |
    <%= link_to "Back to tags", admin_tags_path, class: "link" %>
  </div>
</div> 
