<div class="container-tag text-center">
  <h1>Tags</h1>

  <%= link_to "New tag", new_admin_tag_path, class:"link" %>
  <div id="tags">
    <ul class="tag p-0">
      <% @tags.each do |tag| %>
        <li class="nav-link m-4 bg-warning rounded"><a class="text-white" href="<%= admin_tag_path(tag) %>"><%= tag.label %></a></li>
      <% end %>
    </ul>
  </div>
</div>

