
<%= render @tag %>

<div class="text-center">
  <p>
    <%= link_to "Edit this tag", edit_admin_tag_path(@tag), class: "text-dark" %> |
    <%= link_to "Back to tags", admin_tags_path, class: "text-dark" %>
  </p>
  
  <%= button_to "Destroy this tag", admin_tag_path(@tag), method: :delete, class: "btn bg-logo text-white" %>
</div>
