input {
  outline: none;
  border: none;
  border-radius: 15px;
}

.form-div {
  background: #5d7a957a;
}

.bg-logo {
  background: #00adb5;
}

.txt {
  color: #00adb5;
  text-shadow: .2px .2px 1px #cacaca;
}

.nav-home {
  margin-top: -16px;
  padding: 0;
}

.nav-home ul {
  margin: 0;
  padding: 0;
}

.nav-home ul li a {
  font-size: 25px;
  font-weight: 600;
}

.filters {
  width: 18vw;
}

.elements {
  margin-left: 7.3%;
}